.icons-widget .form-radios {
  display: flex;
  flex-wrap: wrap;
}

.icons-widget .form-radios .form-type--boolean {
  margin: var(--space-s, 5px);
}

input.icons-widget__radio {
  position: absolute !important;
  overflow: hidden;
  clip: rect(1px, 1px, 1px, 1px);
  width: 1px;
  height: 1px;
  word-wrap: normal;
}

input.icons-widget__radio + label.option {
  display: block;
  margin: 0;
  padding: var(--space-l, 20px);
  text-align: center;
  outline: 1px solid #dedede;
}

input.icons-widget__radio + label.option svg {
  width: 30px;
  height: 30px;
}

.icons-widget .form-radios :checked + label.option {
  outline: 2px solid var(--gin-color-primary);
}
